/*--------------------section navigation--------------------*/
.container-fluid{
	margin-bottom: 20px;
	margin-left: 2rem;
}
.navbar-nav{
	margin-bottom: 2rem;
}
.nav-link{
	margin-bottom: 1rem;
	margin: 1rem;
}
.img-logo{
	width: 100px;
	margin-bottom: 2rem;
	margin-right:9rem;
}
.btn.btn-outline-primary{
	background-color: orange;
	color: white;
	height: 2.6rem;
	width: 13rem;
	border:1px solid orange;
	font-weight: bold;
	margin-left: 2rem;
	margin-top: 1rem;
}
.p-2{
	margin-top: 1rem;
	margin-left: 2rem;
}
/*------------------------sections home---------------*/
.col.home-1{
	color: white;
	font-weight: bold;
	background-color: seagreen;
	border-radius: 10px;
	margin: 4px;
}
.col.home-1 p{
	margin-top: 5rem;
	padding-left: 2rem;
}
.p-3{
	margin-top: 3rem;
}
#home button{
	background-color: red;
	border-radius: 7px;
	border:1px solid red;
	font-weight: bold;
}
.col.home-2 img{
padding-left: 8rem;
}
.para{
	color: black;
}
.bakeli{
	color: black;
	font-weight: bold;
}
/*-------------section filieres-----------------------*/
#filieres{
	margin-top: 6rem;
}
.col-12.col-md-7.pb-3{
	padding-left: 4rem;
	font-weight: bold;
	border-radius: 8px;
	width: 600px;
}
.text-left.pl-3{
	text-align: center;
	margin-top: 2rem;
}
#filieres button{
	background-color: red;
	border-radius: 8px;
	border:1px solid red;
	margin-left: 8rem;
}
.col-12.col-md-5{
	border:0.7px solid green;
	border-radius: 9px;
	background: white;
	margin-left:  4rem;
	width: 600px;
}
/*-----------------------------------sections cours---------------*/
#cours{
	margin-top: 5rem;
	margin-right: 8rem;
}
.row.cours{
	margin-left: 3rem;
}
#cours p{
	font-weight: bold;
	margin-top: 1rem;
	margin-left: 4rem;
}
#cours img{
	margin-top: 1rem;
	margin-left: 5rem;
}
.cours-1{
	border-radius: 20px;
	border:1px solid red;
}
.cours-2{
	border-radius: 20px;
	border:1px solid blue;
}
.cours-3{
	border-radius: 20px;
	border:1px solid green;
}
.cours-4{
	border-radius: 20px;
	border:1px solid orange;
}
#cours h1{
	margin-right: 4rem;
}
/*---------------------------sections diplomes----------------------*/
#diplomes{
	margin-top: 2rem;
	background-color: red;
}
#diplomes h1{
	color: white;
	margin-top: 2rem;
}
#diplomes h2,p{
	color: white;
	padding: 2px;
}
#diplomes h2{
	margin-top: 2rem;
}
#diplomes p{
	margin-left: 8rem;
}
#diplomes i{
	margin: 0.5rem;
}
/*-----------------------sections coach---------------------*/
#coach p{
	color: black;
}
#coach button{
	background-color: red;
	border-radius: 8px;
	border:1px solid red;
	margin-left: 15rem;
}
#coach h1{
	margin-bottom: 2rem;
}
#coach{

}
/*-------------------section card------------------------------*/
#card{
	margin-top: 3rem;
}
/*------------------------section activite---------------------*/
#activite{
	margin-top: 0.1rem;
	background-color: red;
}
#activite h1; p{
	color: white;
}
#activite button{
	background-color: red;
	border-radius: 8px;
	border:1px solid red
}
#activite img{
	margin-top: 3rem;
}
#activite .img-2{
	margin-top: 5rem;
	margin-left: 5rem;
}
/*--------------------section partenaire------------------*/
#partenaire{
	margin-top: 4rem;
	background-color:aliceblue;
}
#partenaire img{
	margin-top: 3rem;
	background-color: white;
	border-radius: 10px;
	border:1px solid white;
}
#partenaire button{
	background-color: red;
	border-radius: 8px;
	border:1px solid red;
	margin-left: 28rem;
	margin-top: 2rem;
}
/*-----------------section footer-----------------*/
#footer{
	background-color: #198764;
	margin-top: 5rem;
}
.col-md-3{
	margin-top: 2rem;
	margin-bottom: 6rem;
}
#footer i{
	margin: 1rem;
}